<div class="row">
    <div class="col-sm-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-fluid" style="max-height: 300px">
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Manage Recipe<span clas="caret"></span> </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" (click)="onAddtoShoppingList()">To Shopping List</a>
                <a class="dropdown-item">Edit Recipe</a>
                <a class="dropdown-item">Delete Recipe</a>
            </div>
            <button class="btn btn-primary" (click)="onAddtoShoppingList()">To Shopping List</button>
            <button class="btn btn-primary" (click)="onEditRecipe()">Edit Recipe</button>
            <button class="btn btn-primary" (click)="onDeleteRecipe()">Delete Recipe</button>
        </div>
        <!-- <li class=" nav-item dropdown ">
            <a href="# " class="nav-link dropdown-toggle " data-toggle="dropdown " role="button " aria-haspopup="true " aria-expanded="false ">Manage Recipe <span class="caret "></span></a>
            <ul class="dropdown-menu ">
                <a class="dropdown-item " href="# ">To Shopping List</a>
                <a class="dropdown-item " href="# ">Edit Recipe</a>
                <a class="dropdown-item " href="# ">Delete Recipe</a>
            </ul>
        </li> -->
    </div>
</div>

<div class="row ">
    <div class="col-sm-12 ">
        {{ recipe.desc }}
    </div>
</div>
<div class="row ">
    <div class="col-sm-12 ">
        Ingredients
        <ul class="list-group ">
            <li class="list-group-item " *ngFor="let ingredient of recipe.ingredients ">
                {{ ingredient.name }} - {{ ingredient.amount }}
            </li>
        </ul>
    </div>
</div>